services:
  form-confirmation-api:
    build:
      context: .
      dockerfile: Dockerfile
    pull_policy: build
    container_name: form-confirmation-api
    restart: unless-stopped
    ports:
      - ${API_PORT_OUT}:${API_PORT}
    environment:
      - PORT=${API_PORT}
      - HOST=${API_HOST}
      - API_URL=${API_URL}
      - APP_URL=${APP_URL}
      - ICAL_EVENT=${ICAL_EVENT}
      - CHROMIUM_PATH=${CHROMIUM_PATH}
      - DEBUG=${DEBUG}
      - FORM_TEMPLATE_NAME=${FORM_TEMPLATE_NAME}
      - FORM_TEMPLATE_PATH=${FORM_TEMPLATE_PATH}
      - MAIL_ADDRESS=${MAIL_ADDRESS}
      - MAIL_HOST=${MAIL_HOST}
      - MAIL_PASSWORD=${MAIL_PASSWORD}
      - MAIL_PORT=${MAIL_PORT}
      - MAIL_SENDER_NAME=${MAIL_SENDER_NAME}
      - MAIL_SENDER_EMAIL=${MAIL_SENDER_EMAIL}
      - MAIL_SECURE=${MAIL_SECURE}
      - MAIL_SUBJECT=${MAIL_SUBJECT}
      - MAIL_TEMPLATE_NAME=${MAIL_TEMPLATE_NAME}
      - MAIL_TEMPLATE_PATH=${MAIL_TEMPLATE_PATH}
      - PDF_OUTPUT_PATH=${PDF_OUTPUT_PATH}
    volumes:
      - forms-volume:/app/src/templates:ro
      - ./out:/app/src/out:rw

volumes:
  forms-volume:
