<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
</head>
<body>
    <p class="naslov">Prijavnica za tabor zimovanje 2024</p>

    <p class="naslov2">Podatki o članu</p>

    <p class="data">Ime: {{ImeOtroka}}</p>
    <p class="data">Priimek: {{PriimekOtroka}}</p>
    <p class="data">Naslov: {{Naslov}}</p>
    <p class="data">Pošta: {{Pošta}}</p>
    <p class="data">Datum rojstva: {{DatumRojstva}}</p>
    <p class="data">EMŠO: {{EMŠOOtroka}}</p>
    <p class="data">Št. osebnega dokumenta: {{ŠtevilkaOsebnegaDokumentaOtroka}}</p>
    <p class="data">Št. zdravstvene kartice: {{ŠtevilkaZdravstveneIzkaznice}}</p>
    <p class="data">Vodnik: {{ImeVodnika}}</p>

    <p class="naslov2">Kontakt</p>

    <p class="data">Ime priimek starša: {{ImePriimekStarša1}}</p>
    <p class="data">Telefon starša: {{TelefonskaŠtevilkaStarša1}}</p>
    <p class="data">Elektronski naslov starša: {{ElektronskiNaslovStarša1}}</p>
    <p class="data">Ime priimek drugega starša: {{ImePriimekStarša2}}</p>
    <p class="data">Telefon drugega starša: {{TelefonskaŠtevilkaStarša2}}</p>

    <p class="naslov2">Ostalo</p>

    <p class="data">Redno cepljen po programu: {{RednoCepljenPoProgramu}}</p>
    <p class="data">Prehranske posebnosti: {{PrehranskePosebnosti}}</p>
    <p class="data">Plavalske sposobnosti: {{PlavalskeSposobnosti}}</p>

    <p class="data">Udeležba pohodnega tabora - hajka: {{UdeležbaPohodnegaTaboraHajka}}</p>

    <p class="naslov2">Sporočilo vodstvu</p>
    <p class="data">{{NamŽeliteŠeKajSporočiti}}</p>

    <p class="naslov2">Soglasja</p>

    <p class="soglasje">
        Strinjam se, da se moj otrok udeleži taborjenja 2022 v organizaciji Društva tabornikov Rod zelene sreče Železniki
        (v nadaljevanju: društvo), ki bo potekalo od 9. julija 2022 do 16. julija 2022 v Gorenji Žagi. Seznanjen sem z
        načinom in pogoji plačila. S podpisom potrjujem, da sem seznanjen z vsemi potencialnimi nevarnostmi, ki se lahko
        zgodijo na poletnem taborjenju pri izvajanju aktivnosti v naravi (uporaba noža, hoja po gozdu, uporaba orodja,
        kurjenje ognja, plavanje v jezeru, spanje v šotoru, pohod, itd), in dovoljujem, da se moj otrok udeležuje teh
        aktivnosti. V primeru nezgode dovoljujem prevoz z osebnim avtomobilom v najbližji zdravstveni dom. Jamčim tudi,
        da sem se oz. se bom z otrokom pogovoril/a o obnašanju na taborjenju, ki naj bi bilo v skladu s taborniškimi
        načeli in zakoni. Seznanjen/a sem tudi, da lahko v primeru neprimernega obnašanja (hujše kršitve pravil in
        ogrožanje varnosti) otrok predčasno zaključi taborjenje, pri čemer prevoz domov na lastne stroške zagotovi sam/a.
        Jamčim, da so vneseni podatki resnični.
    </p>
    <p class="data">Soglasje: <b>{{IzjavaOUdeležbi}}</b></p>
    <p class="data">&nbsp;</p>

    <p class="soglasje">
        Soglašam, da društvo vse zbrane osebne podatke lahko hrani in jih obdeluje v skladu z zakonodajo. ( ZVOP-1 )
    </p>
    <p class="data">Soglasje: <b>{{SoglasjeOObdelaviOsebnihPodatkov}}</b></p>
    <p class="data">&nbsp;</p>

    <p class="soglasje">
        Soglašam z objavo fotografij s taborjenja, na katerih se pojavlja moj otrok, oz. prijavljen taboreči.
        Fotografije bo društvo objavilo v krajevnem glasilu, glasilu Zveze tabornikov Slovenije, na socialnih omrežjih
        (Instagram, Facebook, YouTube) ter spletnih straneh (rzs.taborniki.si, taborniki.si).
    </p>
    <p class="data">Soglasje: <b>{{SoglasjeOObjaviFotografij}}</b></p>
    <p class="data">&nbsp;</p>

    <p class="soglasje">
        S podpisom dovoljujem prevoz mojega otroka za potrebe transporta do tabornega prostora, programa in zdravstvene oskrbe v osebnem avtomobilu, kombiju ali avtobusu.
    </p>
    <p class="data">Soglasje: <b>{{SoglasjeOPrevozu}}</b></p>
    <p class="data">&nbsp;</p>


    <p class="data">&nbsp;</p>
    <p class="soglasje">Prosimo preverite pravilnost izpolnjenih podatkov. Če kateri od podatkov ni ustrezen, ga popravite.</p>

    <p class="data">&nbsp;</p>
    <p class="data">&nbsp;</p>
    <p class="data">&nbsp;</p>
    <p class="data">&nbsp;</p>

    <table cellspacing="0" cellpadding="0" style="width:100%;">
        <tbody>
        <tr>
            <td style="vertical-align:top">
                <p class="data">
                    Datum, kraj: ____________________
                </p>
            </td>
            <td style="vertical-align:top">
                <p class="data">Podpis člana: ____________________</p>
                <p class="data">&nbsp;</p>
                <p class="data">&nbsp;</p>
                <p class="data">Podpis starša: ____________________</p>
            </td>
        </tr>
        </tbody>
    </table>
</body>
<style>
    body {
        font-family: Arial, sans-serif;
        line-height: 115%;
    }

    table {
        border: none;
    }

    .data {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 10pt;
    }

    .naslov {
        margin-top: 16pt;
        margin-bottom: 0;
        text-align: center;
        font-size: 16pt;
        font-weight: bold;
    }

    .naslov2 {
        margin-top: 11pt;
        margin-bottom: 0;
        font-size: 11pt;
        font-weight: bold;
    }

    .soglasje {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 9pt;
    }

    .header {
        margin-top: 0;
        margin-left: 72pt;
        margin-bottom: 0;
        text-indent: 36pt;
        text-align: right;
        font-size: 10pt;
        font-style: italic;
        color: #666666;
    }
</style>
</html>
